<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Healthy_Lifestyle"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.AuthorizationActivity" />
        <activity android:name="vika.app.healthy_lifestyle.activity.main.MainActivity" />
        <activity android:name="vika.app.healthy_lifestyle.activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="vika.app.healthy_lifestyle.activity.main.ProfileActivity" />
        <activity android:name="vika.app.healthy_lifestyle.activity.main.SettingsActivity" />
        <activity android:name="vika.app.healthy_lifestyle.activity.mood.MoodActivity" />
        <activity android:name="vika.app.healthy_lifestyle.activity.RegistrationActivity" />

        <service android:name="vika.app.healthy_lifestyle.ui.theme.tracker.step.StepCounterService"
            android:foregroundServiceType="location"
            android:exported="false"/>
    </application>

</manifest>